
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/registration.css"> -->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    {% load static %}

    <link rel="stylesheet" href="{% static '/css/registration.css' %}">
    <title>Register</title>
</head>
<body>
    <section>
        <img src="{% static 'assets/registration.png' %}">
        <div class="form-container">
            <h1>Customer Register Form</h1>
            <form action="" method="POST" onsubmit="return validate()">
                {% csrf_token %}
                <div class="control">
                    <label for="name">Name</label>
                    <div class="input-feild" >
                        <i class="fas fa-user-alt"></i>	</i><input type="text" onKeyUp="validate()" name="customer_name" id="customer_name" placeholder="Full Name" >
                    </div>

                </div>
                <!--Message Validation-->
						<div class="message ml-4"></div>
                <div class="control">
                    <label for="email">Email</label>
                    <div class="input-feild" >
                        <i class="fa fa-envelope"></i> <input type="email" onKeyUp="validate()" name="customer_email" id="customer_email" placeholder="abc@gmail.com" >
                    </div>

                </div>
                <!--Message Validation-->
						<div class="message ml-4"></div>
                <div class="control">
                    <label for="psw">address</label>
                    <div  class="input-feild" >
                        <i class="fas fa-address-card"></i> <input type="text" onKeyUp="validate()" name="customer_address" id="customer_address" placeholder="Address">
                    </div>

                </div>
                <!--Message Validation-->
						<div class="message ml-4"></div>
                <div class="control">
                    <label for="psw">password</label>
                    <div  class="input-feild" >
                        <i class="fas fa-lock"></i> <input type="password" onKeyUp="validate()" name="customer_password" id="customer_password" placeholder="password">
                    </div>

                </div>
<!--Message Validation-->
<div class="message ml-4"></div>
        
                <div class="control">
                    <input type="submit" value="Register">
                </div>
                
            </form>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
         
    </section>
    
</body>
<script src="{% static 'js/registration.js' %}"></script>

</html>