/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

html,body{
    font-family:'Times New Roman', Times, serif;
    font-size:12px;
    line-height:1.5;
    box-sizing:border-box;
    margin:0;
    /* overflow-x:hidden; */
    /* top:0;
    left:0

}
html{
    font-size: 62.5%;
 
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
    html::-webkit-scrollbar{
        width: 1rem;
    }

    html::-webkit-scrollbar-track{
       background: transparent;
    }

    html::-webkit-scrollbar-thumb{
        background: #f4c7c7;
     } 
     a{
        text-decoration: none;
        color: rgb(139, 49, 49);
        font-weight:500;
        line-height: 1.2;
        font-family:Arial, Helvetica, sans-serif;
    
        
    }
     a:hover{
        color:rgb(189, 165, 33);
        
    }
     
    ul{
        list-style-type: none;
    }
    .navbar{
        background:white;
        padding:3rem 2rem;
        height: 0rem;
        min-height:12vh
    
    }
    
    .navabar .navbar-brand a{
        padding:1rem 0;
        display:block;
        text-decoration:none;
    
    }
    
    .navbar-brand{
        font-family: 'Pacifico', cursive;
        font-size:2.5rem;
        color:red
    }
    .navbar-toggler{
        background:red;
        border:none;
        padding:10px 6px;
        outline:none;
    }
    .navbar-toggler span{
     display:block;
     width:22px;
     height:2px;
     border:1px;
     background:#fff;
    }
    .navbar-toggler span + span{
       margin-top:4px;
        width:18px;
        margin-left: 4px;
    
    }
    .navbar-toggler span + span + span{
       width:10px;
       margin-left:10px
       }
    
    .navbar-expand-lg .navbar-nav .nav-link{
        padding:2rem 1.2rem;
        font-size:1.7rem;
        position:relative;
        font-weight: bold;
    }
    
     
    
    .navbar-nav .btn{
       
        color:rgb(236, 148, 15);
       
        padding: 1rem 1.5rem;
        font-size:2rem;
        
       
    
    
    }
    .navbar-nav .btn:hover{
        color:yellowgreen
    }
  

.vertical-nav {
    background-color: rgb(241, 244, 247);
}
.nav-link{
    text-align:  center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(194, 33, 33);
    font-size: 2rem;
    line-height: 1.5;
    opacity:.7
}
.nav-link:hover{
    opacity:1;
    background-color: white;
} */
 