*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}


.no-gutters{
    margin-top: 5rem;
}
.row{
    background:rgb(209, 176, 176);
    border-radius:30px;
}
img{
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
}

.headings h1{
    font-family:'Pacifico',cursive;
    font-size:2.5rem;
    color:red
}

.pic{
    width:40rem;
}

.form-control{
    width:30rem;
    margin-top: 0px;
    font-weight: bold;
    
}
label{
    margin-bottom: 0px;
    font-weight: bold;
}
.btn{
    border:none;
    outline:none;
    width:20rem;
    background-color: rgb(107, 81, 81);
    color: black;
    margin-bottom: 2rem;

}
.btn:hover{
    background-color: white;
    color:black;
}