
.h1{
    position: absolute;
    font-size: 2rem;
    text-align: center ;
    text-transform: uppercase;
    height:3rem;
    color:rgb(63, 77, 78);
    text-shadow:2px 2px 5px rgb(63, 56, 56)
   
}
.secondheading {
    background-color: rgb(80, 78, 76);
    text-align: center;
}
.secondheading h4{
    color:rgb(255, 255, 255)
    
}

.tbl h1{
    font-style:oblique;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid black;
    text-decoration: none;
    color:rgb(63, 77, 78)
}
.btn1{
    background: rgb(63, 77, 78);
    color:black;
    width:5.5rem;
    height: 3rem;
    text-transform: capitalize;
    border-radius: 23px;
    margin-bottom: 1rem;
}
table{
    margin-left:.3rem;
}
.row table{
    border: 2px solid black;
  
    margin-top: 2rem;
}
.row table thead tr th,.row table tbody tr td{
    border: 2px solid black;   
}

.row table thead tr th{
    font-size: 1.2rem;
    font-weight: medium ;
    color: rgb(24, 19, 29);
   
}

.row table tbody tr td{
    font-size: 1rem;
    font-weight: bold;
    font-weight: medium;
    color:black;
  

}
.row thead th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.edit .delete{
    width:5rem;
}
.edit{
    background-color: cornflowerblue;
}
.delete{
    background-color:red;
}
.edit:hover, .delete:hover{
    background-color: cornsilk;
    color: black;
}

.sum{
    margin-top: 4rem;
}
.total{
    background-image: linear-gradient(to right, rgb(170, 175, 218) , rgb(228, 194, 194));
    height:10rem;
    width:25rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 23px;
    box-shadow:2px 2px 5px rgb(141, 136, 136);
    margin-bottom:2rem;
}
.total h1{
    font-size: 1.5rem;
    text-decoration: none;

}
.total h2{
    font-size: 1.6rem;
}
.headers{
    margin-bottom: 1rem;
    width:22rem;
    
}