@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

html{
    font-size: 62.5%;
 
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
    html::-webkit-scrollbar{
        width: 1rem;
    }

    html::-webkit-scrollbar-track{
       background: transparent;
    }

    html::-webkit-scrollbar-thumb{
        background: #f4c7c7;
     } 

 section{
     padding: 5rem 9%;
 }

 .wrapper{
    position:relative;
    height: 54rem;
    display: flex;
    justify-content: center;
    background-attachment:fixed;
    align-items : flex-end;
    overflow: hidden;
}

.image-wrapper{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index:-1;
    animation: ani1 20s ease-out forwards;
} 


.wrapper-text{
    text-align: center;
    font-size:45px;
    line-height: 55px;
    letter-spacing: 5px;
    font-family:poppins;
    text-transform: uppercase;
    margin-bottom: 280px;
    padding: 3rem 2rem;
    border-radius: 0.25rem;
    /* background-color:rgba(243, 237, 237, 0.8);
  height: 10rem; */
    opacity: 0;
    animation: ani2 0.2s ease-out forwards;

}

.wrapper-text h4,
.wrapper-text h5{
    opacity:0;
    margin:0;
    font-size: 3rem;

}
/* ease-in will start the animation slowly,
 and finish at full speed. ease-out will start the animation at full speed,
  then finish slowly.  */
.wrapper-text h4{
    animation: ani2 0.75s ease-in 2s forwards; 
}
.wrapper-text h5{
    animation: ani2 0.75s ease-out 3s forwards;
}

@keyframes ani2{
    100%{
        opacity:1
    }
}
@keyframes ani1{
    50%{
        transform: scale(1.55);
    }
}

.heading{
    margin-top: 3rem;
    text-align:center;
    margin-bottom:4rem;
}
 h1{
    font-size: 3.5rem;
    color:#525C91;
    letter-spacing: 3px;
    /* font-family: 'Pacifico'; */
    text-align: center;
    text-transform: uppercase;
    margin-top: 3rem;
    

}
.heading h4{
    font-size: 2rem;
    color:#525C91;
    letter-spacing: 3px;
    /* font-family: 'Pacifico'; */
    text-align: center;
    text-transform: uppercase;
    margin-top: 3rem;
}
.heading img{
    width:70px
}
.heading .row .second_content{
    border: 1px solid #525C91;
}
.heading p{
    margin: 1rem auto;
    font-size: 2rem;
    color:#33353b;
    /* max-width:70rem; */
    line-height: 1.6;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
/* cloth section */
.row {
    margin: 4rem 2rem 2rem 4rem;
}

.row .btn{
    width:8rem;
    font-size: 1.1rem;
    height: 3rem;
    background-color: rgb(228, 222, 222);
    color:black;
    border:0.2rem solid black;
}

.row .pic{
    height:30rem;
    width:40rem;
     
    object-fit: cover;
}
.row .pics{
    object-fit: contain;
    height:40rem;
    width:80%;
    background-image: linear-gradient(rgb(236,234,227),rgb(228,228,228),rgb(228,236,228));
     
}

.row .pic-content{
    
}
.reviews{
   
    padding: 1rem 9%;
}
.reviews h1{
    margin-top: 0%;
    
}
.reviews .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .reviews .slide .user h3 {
    font-size: 2rem;
    color: #222;
  }
  
  .reviews .slide .user .stars i {
    font-size: 1.5rem;
    color: #e84393;
  }
  
  .reviews .slide .text {
    padding: 2rem;
    background-image: linear-gradient(rgb(236,234,227),rgb(228,228,228),rgb(228,236,228));;
    border-radius: .5rem;
    line-height: 2;
    font-size: 1.5rem;
    color: rgb(12, 11, 11);
    position: relative;
    margin-top: 2rem;
  }
  
  .reviews .row .text::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 3rem;
    height: 2rem;
    width: 2rem;
    background-image: linear-gradient(rgb(236,234,227),rgb(228,228,228),rgb(228,236,228));
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .blog{
     
      padding-top:0%
  }
  
  .blog h1{
    font-size: 3.5rem;
    color:#525C91;
    text-align:center;
   

  }
  .blog .picss{
    height:30rem;
    width:40rem;
    object-fit: cover;
  }

  .blog p{
    margin: 1rem auto;
    font-size: 1.7rem;
    color:#33353b;
    /* max-width:70rem; */
    line-height: 2;
    margin-left: 2rem;
    margin-right: 2rem;
   
  }
  @media screen and (max-width:550px){
    .image-wrapper{
        position: absolute;
        top:0;
        left:0;
        width:800px;
        height:100%;

     
    }

}