@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

html{
    font-size: 62.5%;
 
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
    html::-webkit-scrollbar{
        width: 1rem;
    }

    html::-webkit-scrollbar-track{
       background: transparent;
    }

    html::-webkit-scrollbar-thumb{
        background: #f4c7c7;
     } 

 section{
     padding: 5rem 9%;
 }
.row{
    margin: 7rem 7rem 1rem 7rem;
    
   
}


.row .contents img{
    /* height:50rem;
    width:36rem;
    object-fit: cover; */
    height: 38rem;
    overflow: hidden;
    width: 100%;
    

}
.row .contents .info{
    background-color: #e4e4e4;
    margin-bottom: 3rem;
    color: #000000;
    font-size:larger;
    justify-content: center;
    border: 1px solid #525C91;
   
   
    
    
    
}
.row .contents .info h4{
    /* font-weight: Bold;
     */
}
.row .contents .img-content{
    background-image: linear-gradient(rgb(236,234,227),rgb(228,228,228),rgb(228,236,228));;
   
    /* margin-bottom: 0rem; */
    /* font-style: oblique; */
    /* font-weight: Bold; */
    
    
}
.row .contents .img-content .pic{
    object-fit: contain;

}
.row .contents .info p{
    /* margin-bottom: 0rem; */
    /* font-style: oblique; */
    /* font-weight: Bold; */
    /* padding: 1rem 0; */
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0%;
    margin-right: 7rem;
   
    float: left;
    /* line-height: 2; */
   
}
.row .contents img:hover{
    transform:scale(1.1)
}
.about{
    background: url(/static/assets/blog1.jpeg)  no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment:fixed;
    display: flex;
    align-items:center;
    object-fit: coverc;
    margin: 4rem 4rem 4rem 4rem;
    height: 40rem;
}

.about  .content{
    font-size: 2rem;
    color: #fff;
}

.about .content span{
    color: #ffffff;
    font-size: 3rem;

}
.about  .content ol{
    font-size:1.5rem;
}
.about .content h3{
padding-top: 1rem;
    font-size:3rem;
    color:#ffffff;

}

.about .content p{
    font-style:oblique;
    font-size:2rem;
    color:#9b5858;
    line-height: 2;
    padding:1rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.about .content .price{
    
}


.heading{
    margin-top: 3rem;
    text-align:center;
    margin-bottom:4rem;
}
.heading h1{
    font-size: 3.5rem;
    color:#525C91;
    

}
.heading p{
    margin: 1rem auto;
    font-size: 2rem;
    color:#33353b;
    /* max-width:70rem; */
    line-height: 2;
    margin-left: 2rem;
    margin-right: 2rem;
}

.btns {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fcfcfc;
  width: 100%;
  border: 0.1rem solid #a7a7a7;
  border-radius: 0.2rem;
  cursor: pointer;
  background: #33353b;
}

.btns:hover {
  background: #3b3a3a;
  color: rgb(224, 224, 224);
}

@media screen and (max-width:550px)

{
    .about  .content{
        padding: none;
        margin-bottom:0rem;
    }
    .about .content li{
        font-size:1rem
    }
    .about .content h3{
        padding-top: 0rem;
        font-size: 1rem;
    }
    .about .content span{
        font-size: 1rem;
    }
}

