{% extends 'nav.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static '/css/book_form.css' %}">
<div class="container">
  <div class="content-box">
      <div class="left">
        <img class="img-fluid  pic" src="{% static 'assets/' %}{{book.cloths_image}}">
        
        
      </div>
      <div class="right">
        <form action="" method="POST" >
        <h1>Style look</h1>
        <h4>{{book.cloths_name}},{{book.cloths_details}}</h4>
        <h4>Design BY:{{book.cloths_type}} ,</h4>
        
        <h4>Price:RS{{book.cloths_price}}</h4>
       <!-- <h1>{{request.session.customer_id}}</h1> -->
          {% csrf_token %}  
          <label>Cloth Id</label> 
        <input class="field" type="text" name="cloth" value={{book.cloths_id}}> 
        <!-- <label>consumer_id</label>  -->
        <input class="field" type="text" name="consumer" value={{request.session.customer_id}} hidden> <br>
        <label>Email</label>  
        <input class="field"type="email" name="email" required> 
        <label>pick up date</label> 
        <input class="field" type="date" name="start_date" placeholder="pick up your date" required>
        <label>fow many days</label> 
        <input class="field" type="text" name="days" required> 
      
        <input type="submit" class="btn btn-primary" value="Confirm Hire"/>
      
      </form> 
      </div>
  </div>
 
</div>

<!-- heading -->
<div class="heading">
    <h1>You may also like thiS</h1>
    
  </div>

<div class="row">
  {% for store in cloths %}
  <div class="col-lg-3 col-md-6 col-sm-12 text-center contents ">
      <img class="img-fluid   pic" src="{% static 'assets/' %}{{store.cloths_image}}">
      <div class="info">
          <h4 style>{{store.cloths_name}}</h4>
          <p>{{store.cloths_type}}</p>
          <p class="price">{{store.cloths_price}}</p>
          
          <a href="/store/cloth_details/{{store.cloths_id}}" class="btns">Hire Now</a>
      </div>
  </div>
  {% endfor %}
</div>


{% endblock content %}