{% extends 'adminn/admin2.html' %}
{% load static %}
{% block content %}

<h1>customer message</h1>
<div class="row">
    {% for contact in contacts %}
    <div class="col-lg-4 col-md-6 col-sm-12 text-center p-3">
      <h3>{{contact.contact_name}}</h3>
      <h3>{{contact.contact_email}}</h3>
      <h3>{{contact.contact_phone}}</h3>
      <h3>{{contact.contact_message}}</h3>
      <p><input type="button" value="Submit" id="btnSubmit" onclick="myfunction(1)"></p>
    </div>
    {% endfor %}
    </div>


 <!-- Pagination -->
 <div class="pagination d-flex justify-content-center">
    <form method="POST" action="">
          {% csrf_token %}
          {% if page > 1 %}
          <button class="btn btn-light p-1" name="prev" style="width:5rem; "><i class="fas fa-backward" style="font-size: 2rem;"></i></button>
          {% endif %}
          <input readonly class="text-center p-1" value="{{page}}" style="width:3rem; border:4px solid black;font-size: 1rem;" name="page"/>
          {% if pageItem == 2 %}
          <button name="next" class="btn btn-light p-1" style="width:5rem; "><i class="fas fa-forward" style="font-size: 2rem;"></i>
            </button>
          {% endif %}
    </form>
  </div>
  <script type="text/javascript">
      var count =0;
      function myfunction(x){
          var X;
          if(x==1){
              count=count=1
          }
          if(count==1){
              document.getElementById("btnSubmit").style.background="red";
          }
          else if(count==2){
              document.getElementById("btnSubmit").style.background="green";
              count=0;
            }
      }
    
    </script>
{% endblock content %}