{% extends 'adminn/admin2.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/cloth_form.css' %}">

</form>

<body>
  <div class="container">
    <div class="content-box">
      <div class="right">
        <h1 class="py-2">Style look</h1>
        <h5>User Update Section</h5>
        <form action="/user_update/{{users.id}}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label>First Name</label>

          <input class="field" type="text" name="first_name" value="{{users.first_name}}">

          <label>Last Name</label>


          <input class="field" type="text" name="last_name" value="{{users.last_name}}">

      
          <input type="submit" class="btn btn-primary" value="Update" />
       
      </form>

    </div>
  </div>
  </div>



</body>
</section>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock content %}