{% extends 'nav.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/store1.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">





<!-- aboout start -->
<section class="about" id="about">
    <span class="message" style="margin-right: 0;">
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

       
    </span>
    <div class="content">

    <span>why to choose us?</span>
    <ol>
        <li>saves a lot of money</li>
        <li>Save closet space</li>
        <li>Wear top designer brands</li>
        <li>Never run out of clothes to wear</li>
    </ol>
    <h3>Rules you need to follow</h3>
    <ol>
        <li>Should return on same condition</li>
        <li>leave citizenship card or driver linences</li>
        <li>Half payment should done at first</li>
        <li>Must pay extra payment if dress isnot in same condition</li>
    </ol>

    </div>

</section>
<!-- aboout end -->
<div class="heading">
    <h1>Dress Hire</h1>
    <p>Buying top designer brands is outrageously expensive.

        A piece of clothing can cost $60 minimum Perhaps you can buy one or two pieces in a year if your budget is not
        so tight.

        Renting, on the other hand, will let you experience top brands such as Zimmermann at $100. At this price, you
        will be able to afford designer clothes for all your events, meetings, or travels..</p>

</div>

<div class="row">
    {% for store in cloths %}
    <div class="col-lg-3 col-md-6 col-sm-12 text-center contents ">
        <a href="{% static 'assets/' %}{{store.cloths_image}}">
            <img class="img-fluid   pic " id="zoom-img" src="{% static 'assets/' %}{{store.cloths_image}}">
        </a>

        <div class="info">
            <h4 style>{{store.cloths_name}}</h4>
            <p>{{store.cloths_type}}</p>
            <p class="price">{{store.cloths_price}}</p>

            <a href="/store/cloth_details/{{store.cloths_id}}" class="btns">Hire Now</a>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Pagination -->
<div class="pagination d-flex justify-content-center">
    <form method="POST" action="">
        {% csrf_token %}
        {% if page > 1 %}
        <button class="btn btn-light p-1" name="prev" style="width:5rem; "><i class="fas fa-backward"
                style="font-size: 2rem;"></i></button>
        {% endif %}
        <input readonly class="text-center p-1" value="{{page}}"
            style="width:3rem; border:4px solid black;font-size: 1rem;" name="page" />
        {% if pageItem == 9 %}
        <button name="next" class="btn btn-light p-1" style="width:5rem; "><i class="fas fa-forward"
                style="font-size: 2rem;"></i></button>
        {% endif %}
    </form>
</div>
<!-- pagintion end -->




{% endblock content %}